<!-- <nav class="navbar">
    |
    <a class="button" routerLinkActive="active" routerLink="/register">
      Register
    </a>
    |
    <a class="button" routerLinkActive="active" routerLink="/login"> Login </a>
    |
    <a [hidden]=true class="button" routerLinkActive="active" routerLink="/temp">
      Logout
    </a>
  </nav> -->

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLinkActive="active" routerLink="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    </li>
  </ul>

<!--   <div *ngIf="!!currentUser">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLinkActive="active" routerLink="/register">--Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">--Login</a>
    </li>
  </ul>
</div> -->