<ng-container *ngIf="currentUser">

  <h2>Welcome {{ currentUser.user_name }}</h2>
  <div>
    <div style="float: left; padding: 10px; margin: 10px;">
      <h3>Users profile</h3>
      Users Id:
      <p>{{ currentUser.id }}</p>
      users Full Name:
      <p>{{ currentUser.full_name }}</p>
      Users User Name:
      <p>{{ currentUser.user_name }}</p>
      Users Email:
      <p>{{ currentUser.email }}</p>
      <!-- Users Password
      <p>{{ currentUser.password }}</p> -->
    </div>
  
    <div style="float: left; padding: 10px; margin: 10px;">
      <h3>{{ currentUser.full_name }} Address</h3>
      <p>{{ currentUser.address.line1 }}</p>
      <p>{{ currentUser.address.line2 }}</p>
      <p>{{ currentUser.address.district }}</p>
      <p>{{ currentUser.address.state }}</p>
      <p>{{ currentUser.address.pinCode }}</p>
    </div>
  
    <p>
      <a [routerLink]="['/login']" (click)="logout()">Logout</a>
      <a [routerLink]="['/user-update']"> Update Details</a>
      <a [routerLink]="['/pet-entry']"> Enter Pet</a>
      <a [routerLink]="['/pet-view']">view {{currentUser.full_name}}'s Pets</a>
    </p>
  </div>
</ng-container>
